body {
    margin: 0;
}

/*************** dropdown en CSS************/

.offcanvas {
    display: none;
}

.dropbtn {
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropbtn img {
    width: 80px;
}

.dropdown {
    position: relative;
    display: none;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #eef1f6;
    ;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px #525e78;
    z-index: 1;
    font-size: 25px;
    font-family: "Bahnschrift";
}

.dropdown-content a {
    color: #525e78;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
    display: block;
}

/******************* deuxieme Teste   ****************/

.slid_menu {
    width: 350px;
    display: contents;
}

.slid_menu img {
    width: 100px;
}

.list_slid ul li:hover {
    background: #525e78;
    color: #ffffff;
}

.list_slid ul li a {
    color: #ffffff;
    font-size: 33px;
}

.list_slid ul li {
    background: #55617b;
}

.list_slid {
    background: #55617b;
}


/**********************/

header {
    background: #eef1f6;
    width: 100%;
}

.navbar {
    max-width: 98%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.navbar .menu {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0;
}

.navbar .logo-Valois {
    height: 60px;
}

.navbar .icon-serveur {
    display: flex;
    align-items: center;
}

.navbar .menu li {
    margin: 20px;
    list-style: none;
}

.navbar .menu li a {
    text-decoration: none;
    font-size: 13px;
    font-family: "Bahnschrift";
    font-weight: bold;
    color: #394c6d;
}

.icon-serveur .icon {
    width: 100%;
    height: 100%;
}

.icon-serveur .serveur {
    display: flex;
    align-items: center;
    width: 45px;
}

.serveur:nth-child(2) {
    margin: 10px 10px;
    width: 35px;
}

/**********DESCRIPTION **************/

.description {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background: #394c6d;
    font-size: 13px;
}

.description .contact {
    padding: 0px 15px 0px 5px;
    color: white;
}

.contact i {
    padding: 10px 9px 10px;
}

.description span {
    font-family: sans-serif;
}

.description a {
    font-family: sans-serif;
    text-decoration: none;
    color: white;
}

.description a:nth-child(2) {
    background: #f4b937;
}

/************ BANNER ************/

.banner {
    background-image: url("../images/AdobeStock_285717388_Preview.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 650px;
    background-position: center;
    position: relative;
}

.banner:after {
    content: " ";
    display: block;
    width: 100%;
    height: 100%;
    background-color: #525e78;
    opacity: 0.5;
    position: absolute;
    top: 0;
    right: 0;
}

.banner .renseigner {
    padding-top: 130px;
    color: white;
    font-family: "Bahnschrift";
    position: relative;
    z-index: 1;
}

.renseigner button {
    margin-right: 20px;
}

.banner .outils {
    padding: 60px 0px;
    height: 300px;
    justify-content: space-between;

}

.outils .block {
    width: 30%;
    background-color: #f1f1f1;
    padding: 50px;
    margin-top: 75px;
    position: relative;
    bottom: 0;
    z-index: 1;
    color: #525e78;
    cursor: pointer;
    transition: all .5s ease;
}

.block:hover {
    bottom: 60px;
    background-color: #f9be3c;
    color: #525e78;
    transition: all .5s ease;
    animation: spin 1s;
}

@keyframes spin {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-20px);
    }

    100% {
        transform: translateY(0px);
    }
}

.block:hover .links {
    color: #525e78;
}

.block .links {
    font-weight: bold;
    font-family: "Bahnschrift";
}

.outils .block img {
    max-width: 120px;
    height: auto;
    width: auto;
}


.block a {
    color: #f9be3c;
    text-decoration: none;
}

/************** HISTOIRS **********/

.histoir {
    padding-top: 400px;
    justify-content: space-between;
    font-family: "Bahnschrift";
    background-image: url(".../images/Image31.png");
    position: relative;
    background-size: cover;
    width: 100%;
    background-position: center;
    color: #ffffff;
}

.story-container {
    max-width: 900px;
    margin: auto;
}

.histoir .story-items {
    height: 400px;
    position: relative;
    z-index: 1;
    margin-bottom: 30px;
}

.story-items a {
    text-decoration: none;
    color: #ffffff;
}

.story-items p {
    max-width: 900px;
    margin: auto;
}

.story-items .description1 {
    display: flex;
    justify-content: space-around;
    margin: 30px 210px;
}

.description1 .contact{
    font-size:42px;
}


/*.story-items .button{*/
/*    display: flex;*/
/*    justify-content: space-evenly;*/
/*}*/

.story-items a:hover {
    color: #ffffff;
}

.histoir:after {
    content: " ";
    display: block;
    width: 100%;
    height: 100%;
    background-color: #394967;
    opacity: 0.9;
    position: absolute;
    top: 0;
    right: 0;
}

/********* EVOLUTIONS ****************/



.service .title .titrate {
    color: #2c4156;
    margin: 40px
}


.title {
    text-align: center;
    display: block;
    justify-content: center;
}

/*.title img{*/
/*    width: 40px ;*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    margin: 35px;*/
/*}*/


.clean {
    margin-bottom: 200px;
}

.clean .rapport {
    display: flex;
    justify-content: space-between;
    flex-direction: inherit;
}

.clean .reverse {
    flex-direction: row-reverse;
    margin-top: 70px;
}

.clean .reverse .evolution {
    transform: translate(15px, 15px);
}


.rapport .revolution {
    background: #fdc346;
    width: 40%;
    font-size: 13px;
    padding: 30px;
    color: #ffffff;
    transform: translate(80px, 170px);
}

.rapport .picture {
    position: relative;
    transform: translate(170px, -80px);
    width: 100%;
    height: 12px;
}

.picture img {
    transform: translate(-20px, -87px);
    height: 50px;
}


.work {
    width: 80%;
    margin: 0;
}


.work img {
    width: 100%;
}


.reverse .picture {
    transform: translate(235px, 0px);
}

.reverse .revolution {
    transform: translate(-80px, 170px);
}

/****** TEMOINNAGES**************/

.temoinnage {
    background: #eef1f6;
    width: 100%;
    padding: 50px;
    color: #2c4156;
    font-family: "Bahnschrift";
    font-size: 15px;
}

.opinion {
    display: flex;
    justify-content: space-around;
    margin: auto;
}

/*.temoinnage .title h1:before{*/
/*    content: "NOS TEMOINAGEGES";*/
/*    font-size: 13px;*/
/*    position: relative;*/
/*    bottom: 90px;*/
/*    left: 310px;*/
/*    opacity: 0.5;*/
/*}*/

/*.temoinnage .title h1:after{*/
/*    content: "Temoinages";*/
/*    font-size: 60px;*/
/*    position: relative;*/
/*    bottom: -15px;*/
/*    left: -350px;*/
/*    opacity: 0.2;*/
/*}*/
/*.temoinnage .title h1 {*/
/*    margin: 30px -105px 30px 5px;*/
/*    color: #435873;*/
/*}*/

.opinion .profil img {
    height: 153px;
}

.opinion .expression {
    width: 50%;
}

.expression a {
    text-decoration: none;
    color: #2c4156;
}

.expression a i {
    color: #0a53be;
}

.temoinnage .titre {
    text-align: center;
}

.temoinnage .titre .acceuil {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 20px;
}

.acceuil .proof {
    opacity: 0.5;
    padding-top: 20px;
}

.titre .titrate {
    margin-bottom: 40px;
}


.temoinnage .select {
    display: flex;
    justify-content: center;
}

/*************Barre jaune *********/

.temoinnage .barre {
    display: flex;
    justify-content: center;
    margin: 50px -5px;
}

/************* footer ********/

footer {
    background: #394c6d;
    width: 100%;
    padding-top: 50px;
    font-family: Bahnschrift;
    color: #eef1f6;
    height: 375px;
}

footer .pages {
    font-size: 13px;
    margin-top: 20px;
}

.pages .icons-serveur .icons {
    height: 45px;
}

.pages .icons-serveur .iconS {
    height: 33px;
}

.pages .icons-serveur .iconS:nth-child(1) {
    margin-right: 5px;
}


footer .pages i {
    padding-right: 10px;
}

footer .pages i:nth-child(2) {
    height: 20px;
}

footer .pages h6 {
    margin-bottom: 30px;
}

footer .pages figure:nth-child(1) {
    margin-bottom: 44px;
}


footer .pages:nth-child(4) {
    width: 31%;
}

footer .pages:nth-child(2) {
    width: 19%;
}

footer .pages:nth-child(1) {
    margin-top: -10px;

}

footer .pages .reacceuil {
    background: #ecbc58;
    width: 25%;
    height: 50%;
    position: relative;
    top: 45px;
    left: 280px;
    transition: all .5s ease;
    bottom: 0;
}

footer .pages .reacceuil:hover {
    bottom: 70px;
    background-color: #f9be3c;
    color: #525e78;
    transition: all .5s ease;
    animation: spin 1s;
    cursor: pointer;
}

.reacceuil a img {
    position: relative;
    top: 30px;
    left: 27px;
    height: 35px;
}

/*************** RESPONSIVE ******************/

/***************** MOBILE ********************/

@media (min-width: 320px) {

    header .navbar {
        padding-top: 35px;
        padding-bottom: 35px;
    }

    .banner .container{
        max-width: 100%;
    }

    .description {
        display: none;
    }

    .big-title {
        font-size: 100px;
    }

    .p-after {
        font-size: 65px;
        margin-top: 0;
    }

    .navbar .menu {
        display: none;
    }

    .navbar .icon-serveur {
        display: none;
    }

    .slid_menu img {
        width: 160px;
    }

    .navbar .logo-Valois {
        height: 150px;
    }

    .banner .renseigner {
        padding-top: 40px;
        max-width: 95%;
        margin: auto;
    }

    .histoir .container{
        max-width: 95%;
    }

    .story-items h2{
        font-size: 100px;
    }

    .renseigner button {
        width: 100%;
        height: 120px;
        margin: 20px 0px;
        font-size: 50px;
    }

    .banner {
        height: 100%;
    }

    .banner .outils {
        height: 100%;
    }

    .outils .block {
        width: 100%;
        height: auto;
    }

    .block h2 {
        font-size: 80px;
    }

    .outils .block img {
        width: 200px;
        max-width: 100%;
    }

    .outils .block p {
        font-size: 45px;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        overflow: hidden;
        margin: 0;
        height: 290px;
    }

    .block .links {
        font-size: 50px;
    }

    .histoir {
        padding-top: 65px;
    }

    .story-items .description1 {
        display: grid;
        text-align: left;
        font-size: 13px;
        margin: 30px 0px;
    }

    .story-items p {
        max-width: 100%;
        margin: auto;
        font-size: 50px;
    }

    .button .click button {
        width: 100%;
        margin-left: 0px !important;
        height: 120px;
        font-size: 50px;
    }

    .button .click {
        margin: 20px;
    }

    .histoir .story-items {
        height: 100%;
    }

    

    .rapport .picture {
        display: none;
    }

    
    .work {
        width: 100%;
    }

    .clean {
        margin-bottom: 50px;
    }

    .clean .reverse {
        margin-top: 0px;
    }

    

    .opinion {
        flex-direction: column;
    }

    .opinion .expression {
        width: 100%;
    }

    .temoinnage .select {
        margin-bottom: 15px;
    }

    footer {
        height: 100%;
    }

    footer .pages:nth-child(1) {
        width: 100%;
    }

    footer .pages:nth-child(2) {
        width: 100%;
    }

    footer .pages:nth-child(3) {
        width: 100%;
    }

    footer .pages a {
        width: 30%;
    }

    footer .pages:nth-child(4) {
        width: 100%;
    }

    footer .pages .reacceuil {
        top: -50px;
        left: 160px;
    }

    .reacceuil a img {
        top: 20px;
        left: 20px;
    }

    .outils .block .imgs {
        margin-bottom: 10px;
    }

    .outils .block .imgs1 {
        margin-bottom: 10px;
    }

    .outils .block .imgs2 {
        margin-bottom: 10px;
    }

    /*************** service ****************/

    .service .container{
        max-width: 100%;
    }

    .acceuil .proof {
        font-size: 48px;
    }

    .orange img{
        height: 40px;
    }

    .service .title .titrate {
        margin: 60px 0px;
    }

    .titrate h2{
        font-size: 100px;
    }

    .rapport .revolution {
        transform: translate(0px, 0px);
        width: 100%;
    }

    .clean .rapport {
        display: flex;
        flex-direction: column-reverse;
    }

    .revolution h3 {
        font-size: 70px;
    }

    .revolution p{
        font-size: 48px;
        margin-top: 15px;
    }

    .revolution ul{
        font-size: 50px;
    }

    /************ .temoinnage *****************/

    .temoinnage {
        padding: 0px;
        padding-top: 50px;
    }

}

@media (min-width:1366px) {

    /* header */

    .navbar .logo-Valois {
        height: 60px;
    }

    header .navbar {
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }

    .navbar .menu {
        display: flex;
    }

    .shadow-none{
        display: none;
    }

    .navbar .icon-serveur {
        display: flex;
    }

    .description {
        display: flex;
    }

    /******** Banner *************/

    .big-title {
        font-size: calc(1.375rem + 1.5vw);
    }

    .p-after {
        font-size: var(--bs-body-font-size);
        margin-top: 1rem;
    }

    .renseigner button {
        width: auto;
        height: auto;
        margin-right: 10px;
        font-size: 1rem;
    }

    .banner .renseigner {
        padding-top: 130px;
    }

    .outils .block{
        width: 30%;
    }

    .outils .block img {
        max-width: 120px;
        width: auto;
    }

    .block h2 {
        font-size: calc(1.325rem + .9vw);
    }

    .outils .block p {
        font-size: var(--bs-body-font-size); 
        height: 100px;
    }

    .block .links {
        font-size: var(--bs-body-font-size);    
    }

    .banner .outils{
        height: 300px;
        max-width: 95%;
        margin: auto;
    }

    /* histoir */

    .histoir {
        padding-top: 280px;
    }

    .story-items h2 {
        font-size: calc(1.325rem + .9vw);
    }

    .story-items p {
        font-size: var(--bs-body-font-size);
        max-width: 90%;
    }
    
}